REACT_APP_API_DOMAIN=https://dev-jjxqyxnxfq5r284l.us.auth0.com
REACT_APP_API_CLIENT_ID=LbwqkDVJa7axiHceuZfuYJsV059zu7mY
REACT_APP_API_AUDIENCE=https://IPPTScheduler/api
JWT_ACCESS_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImdnSDhSbEdoZE5QWmc0RnhUeWZlRSJ9.eyJpc3MiOiJodHRwczovL2Rldi1qanhxeXhueGZxNXIyODRsLnVzLmF1dGgwLmNvbS8iLCJzdWIiOiJVVTFVemR5VENnbjB2WkVwaU1ZZE1oVnhjaVZWRXk2VUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9JUFBUU2NoZWR1bGVyL2FwaSIsImlhdCI6MTY5NzUzOTM1MCwiZXhwIjoxNjk3NjI1NzUwLCJhenAiOiJVVTFVemR5VENnbjB2WkVwaU1ZZE1oVnhjaVZWRXk2VSIsImd0eSI6ImNsaWVudC1jcmVkZW50aWFscyJ9.FDYD8bCH3VXB8HEo9-uuJt28Rm_GqgHL7-Pn4bSVmeJkbNasY-z3sfaxdwC97u0Ds1VRPJ0xbufVoO8M0IIOeUhU5AQ7-BDf6feBPvOrh2yTksu2TWQZKcKhGvujtETq66jf4C4i3-P-kUOoK7OaUVguShSoA8rqwun71wj5HPk430-62ZX0p8U6JzHLQsDpfmdjQ0Tq1IrwNkWPi5O0Hja3SrOqp8vBjdI0vfC_-F9xpGHFtTjNWPOwJv6rXCEhK5WTihWBZz7U-_bG-nbKmiD80e7l4CuwL6DxJfzQ0mFqIQXCPbKzAxXrgzqyzKzihIWKtBkWLWZu-o20LkuDcQ