REACT_APP_API_DOMAIN=https://dev-jjxqyxnxfq5r284l.us.auth0.com
REACT_APP_API_CLIENT_ID=LbwqkDVJa7axiHceuZfuYJsV059zu7mY
REACT_APP_API_AUDIENCE=https://IPPTScheduler/api
JWT_ACCESS_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImdnSDhSbEdoZE5QWmc0RnhUeWZlRSJ9.eyJpc3MiOiJodHRwczovL2Rldi1qanhxeXhueGZxNXIyODRsLnVzLmF1dGgwLmNvbS8iLCJzdWIiOiJhdXRoMHw2NTNjNzMxZmEzMDQ0OGM1OTRhNmUwNzQiLCJhdWQiOlsiaHR0cHM6Ly9JUFBUU2NoZWR1bGVyL2FwaSIsImh0dHBzOi8vZGV2LWpqeHF5eG54ZnE1cjI4NGwudXMuYXV0aDAuY29tL3VzZXJpbmZvIl0sImlhdCI6MTY5ODU3MDE2NCwiZXhwIjoxNjk4NjU2NTY0LCJhenAiOiJMYndxa0RWSmE3YXhpSGNldVpmdVlKc1YwNTl6dTdtWSIsInNjb3BlIjoib3BlbmlkIHByb2ZpbGUgZW1haWwifQ.veJXJrMF4sdnb6swQyjuzNTIYcHSuulxf1kl5i9RYzAY153q1L7R-DvDLLr4AFUUGFtZo7iOUX6p-1XproHGGu-RCOcqkDdF5cyHKKJ1d0RJfWIa5bZkCyUG3SGXlxLiRPLNnyTIRin5xZlv2m_RyaZe9J43W4fXiT-suwbd2Zex1P0VIM3Bw9OkWnv7C81wEvbO2q4O3lA26VfLsZt9lMjrMHW3Qm80wB4UHVgjya0S-hEz4aw7F6lqzp-NRR9NSoWl4yYqg4WOSTRxY6bo5I6hf61f4JpB6QkJ4rbdmntEu9rrA0PGycM5dMr66Tww9nAYyV-NQxWx0NNmy2L6_A