.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.main{
  width: 80vw;
  color: black;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.entry{
  width: 80vw;
  color: black;
  min-height: 80vh;
  display: flex;
  align-items: top;
  justify-content: center;
  margin: 10px auto;

}

.offset{
  margin-bottom: 10px;

}

/* Footer.css */
.footer-container {
  /* background: linear-gradient(to top, grey, transparent); */
  text-align: center;
  margin: 0 auto;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.light-pastel-yellow {
  background-color: lightyellow;
}


/* styles.css */

/* Default width for all screens */
.data-entry {
  width: 25%;
}

/* Media query for small screens and above (sm and up) */
@media (min-width: 600px) {
  .data-entry {
    width: 50%;
  }
}

